body {
    background-image: url("https://i.pinimg.com/originals/92/5e/fc/925efc7a4d27d9bc392499b15fec38ca.jpg");
    background-size: 100%;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-shadow: white 2px 2px 10px;
}

#forecastedWeather {
    font-size: 25px;
    text-shadow: white 2px 2px 10px;
    font-weight: bold;
    background-color: aqua;
    border-radius: 25px;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

#title {
    text-align: left;
    color: blue;
    text-shadow: aqua 2px 2px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 0px;
}

img {
    background-color: #000099;
    padding: 10px;
    border-radius: 25px;
    
}

#validity {
    font-size: 20px;
    text-shadow: white 2px 2px 10px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-shadow: white 2px 2px 10px;
}